[Unit testing] Message length checks should be done in processReceivedData of the IRCServer class

The [RFC 1459 Section 2.3](https://datatracker.ietf.org/doc/html/rfc1459#section-2.3) claims, messages shall not be more than 512 bytes including CR and LF. This should be enforced as early as possible, which is within processReceivedData. The default implementation of the OpenNetLib sets the `END_OF_MESSAGE_BYTE` to the LF Character (`0x0A`). Which means that within `IRCServer::processReceivedData` it should be checked wether the last byte of the data is equal to `0x0D` (CR). If so it should be removed from the end of the String that gets created based on `data`
Then the length check of 510 bytes should be made.